@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Inter:wght@300;400;600&display=swap');

html, body {
    font-family: "IBM Plex Sans", sans-serif;
}

svg:not:has([width]) {
  @apply w-4;
}
svg:not:has([height]) {
  @apply h-4;
}

button {
  @apply border border-current rounded-lg;
  padding-inline: 0.25rem;
  padding-block: 0.25rem;
  filter: none;
  transition: 150ms ease;
}
button:hover {
  @apply brightness-[80%];
}

button:active {
  @apply brightness-110;
}

#notifications,
#hamburger {
  @apply z-[100] absolute right-4 top-12 max-h-[80vh] max-w-[35ch] overflow-y-auto p-2 invisible;
  min-width: calc(min(35ch, 100%));
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.75ch;
  filter: opacity(0%);
  transition: filter 150ms ease;
}
#notifications::-webkit-scrollbar {
  @apply overflow-hidden;
  border-top-right-radius: 0.75ch;
  border-bottom-right-radius: 0.75ch;
  max-width: 0.75ch;
  background-color: #555;
  /* padding: 0.25ch; */
}

#notifications::-webkit-scrollbar-thumb {
  @apply border-black border;
  background-color: #eee;
  border-top-right-radius: 0.75ch;
  border-bottom-right-radius: 0.75ch;
  border-style: inset;
}

#notifications.shown,
#hamburger.shown {
  @apply visible;
  filter: opacity(100%);
  transition: filter 150ms ease;
}
#notifications > :only-child {
  @apply flex flex-col gap-2;
}

.notification {
  @apply min-h-min overflow-hidden cursor-pointer filter-none;
  border-radius: 0.5ch;
  transition: filter 150ms ease;
}

.notification:hover {
  /* filter: drop-shadow(0 0.5ch 0.5ch #2F2F2F); */
  filter: brightness(130%) drop-shadow(0 0.25ch 0.25ch #2F2F2F80);
}
.notification > header {
  @apply flex flex-nowrap items-center overflow-hidden text-ellipsis text-xs;
  gap: 0.5ch;
  -webkit-line-clamp: 1;
  padding-block: 0.25ch;
  padding-inline: 1.5ch;
  color: #CCC;
  background: #2F2F2F;
}

.notification button.archive {
  @apply border-none transform-none;
  padding: 0.25ch;
  transition: transform 150ms ease;
}

.notification button.archive:hover {
  transform: scale(1.3);
}

.notification > article {
  font-size: small;
  color: #E8E8E8;
  padding-inline: 1.5ch;
  padding-block: 0.75ch;
}

.docket-image {
  @apply w-4 h-4 aspect-square overflow-hidden relative;
  border-radius: 0.25ch;
}

.docket-image > img {
  @apply absolute top-0 left-0 w-full h-full;
}

.fade-in {
    animation: 0.2s fadeIn ease-in-out forwards;
    filter: blur(0px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(1px)
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

.spinner {
  animation: spin 3.5s linear infinite;
}

@keyframes spin {
  0% { transform: perspective(500px) rotateY(0turn); }
  100% { transform: perspective(500px) rotateY(1turn); }
}
