@tailwind base;
@tailwind components;
@tailwind utilities;

svg:not:has([width]) {
  width: 1rem;
}
svg:not:has([height]) {
  height: 1rem;
}

button {
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 0.5rem;
  padding-inline: 0.25rem;
  padding-block: 0.25rem;
  filter: none;
  transition: 150ms ease;
}
button:hover {
  filter: brightness(80%);
}
button:active {
  filter: brightness(110%);
}

#notifications {
  position: absolute;
  right: 1rem;
  top: 3rem;
  max-height: 80vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;

  visibility: hidden;
  transition: 150ms ease;
}
#notifications.shown {
  visibility: visible;
}
