@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Inter:wght@300;400;600&display=swap");

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
}

body *::-webkit-scrollbar {
  display: none;
}

svg:not:has([width]) {
  @apply w-4;
}
svg:not:has([height]) {
  @apply h-4;
}

button:not(.weird) {
  @apply border border-current rounded-lg;
  padding-inline: 0.25rem;
  padding-block: 0.25rem;
}
button {
  filter: none;
  transition: 150ms ease;
}
button:hover {
  @apply brightness-[80%];
}

button:active {
  @apply brightness-110;
}

.docket-image {
  @apply w-4 h-4 aspect-square overflow-hidden relative;
  border-radius: 0.25ch;
}

.docket-image > img {
  @apply absolute top-0 left-0 w-full h-full;
}

.fade-in {
  animation: 0.2s fadeIn ease-in-out forwards;
  filter: blur(0px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(1px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

.spinner {
  animation: spin 3.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: perspective(500px) rotateY(0turn);
  }
  100% {
    transform: perspective(500px) rotateY(1turn);
  }
}
